canvas {
    background-color: #c0c0c0;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#size {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

#slider {
	width: 400px;
}